html, body {
    background-color: black;
    overflow-x: hidden;                        
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
